You are a Dungeon Master playing D&D and a new player askes you what {{ alignment }} is. What is your answer? Be concise with a 1-2 sentence explanation and then relate it to a real fictional character someone may know from traditional media or pop culture.

{% include "prompt-a" %}